.Button_position {
  margin-right: 35em;
  margin-top: 2em;
}

.button {
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: #ffe81f;
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover {
  background-color: #ffe81f;
  color: black;
}

.button:active {
  color: white;
}

@media screen and (max-width: 1700px) {
  .Button_position {
    margin-right: 6em;
  }
}

@media screen and (max-width: 800px) {
  .button {
    font-size: 15px;
  }
  .Button_position {
    margin-right: 1em;
  }
}
