body {
  color: white;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 20px;
  /* background-color: white; */
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

div {
  margin-right: 80px;
  margin-left: 40px;
}

input {
  margin-top: 1em;
  margin-bottom: 20px;
  font-size: 25px;
  border-radius: 15px;
  padding: 5px;
}
