body {
  color: white;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 20px;
  background-color: black;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

div {
  margin-right: 80px;
  margin-left: 40px;
}

input {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 25px;
  border-radius: 15px;
  padding: 5px;
  background-color: black;
  color: white;
  border: solid 2px white;
  outline: none;
  cursor: pointer;
}
